.nav-logo
{
  float: right;
}

.hero-unit {
  padding: 0px 120px 300px 120px;
  margin-bottom: 30px;
  background-image: url('../img/hero.jpeg');
  background-position: 0px -200px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: serif;
}
.hero-unit div.banner
{
  background: #b90000;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.hero-unit .white
{
  color:#fff;
}
.hero-unit .golden
{
  color:#ffcc33;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  color: inherit;
  letter-spacing: -1px;
}
.hero-unit p {
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  color: #ffffff;
}



div#header_wrapper
{
  background: #4da1aa;
  height: 400px;
  position: relative;
  top: 0;
  background-image: url('../img/header-background.png')
}

div#header
{
  width: 900px;
  left:50%;
  position: fixed;
  margin-left: -450px;
  z-index:999
}

div#slide
{
  position: absolute;
  width: 900px;
  left:50%;
  margin-left: -450px; padding-top: 50px
}

div#slide p.title
{
  font-size: 50px;
  color: #111;
  font-family: serif;
  text-shadow: 1px 1px 2px #333 
}

div#slide p.subtitle
{
  font-size: 26px;
  color: #eee;
  font-family: serif;
  text-shadow: 1px 1px 2px #333 
}

div.subsection
{
  width: 860px;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

div.subsection p + p
{
  text-indent: 1.5em;
}

div.subsection p.title
{
  font-size:38px;
  text-align: center;
  color: #888;
  font-family: serif
}

div.subsection p.subtitle
{
  font-size:28px;
  font-family: serif
}

div.subsection .row .span2
{
  text-align: center;
}
